/*
 * Primary & Secondary
 */
 $color-primary: #800080;
 $color-secondary: #362a7f;
 $color-link-text: #3b82f6;
 $color-label-blue: #4169E1;
 $color-grey-faded: #f2f2f2;
 $color-grey-shadow: #e8e8e8;
 $color-white: #fff;

 $color-black: #000